.customChip {
  border-radius: 4px !important;
  border: 0.6px solid #255182 !important ;
  margin-left: 8px !important;
  background-color: rgba(30, 69, 106, 0.26) !important;
  color: #fff !important;
}
