.dialog-action-btn {
  position: sticky !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  background-color: rgba(255, 255, 255, 1) !important ;
  z-index: 1 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  width: 12px !important;
  height: 12px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #00028c !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 5px !important;
}
.container {
  position: relative !important;
  width: 100% !important;
  max-width: 1260px !important; /* Adjust based on your image size */
  margin: auto !important;
}
.geo {
  width: 430px !important;
  height: 430px !important;
  border-radius: 50% !important;
  background-color: rgba(
    115,
    168,
    115,
    0.5
  ) !important; /* Adjust transparency here */
  position: absolute !important;
  top: 20% !important;
  left: 5% !important;
}
.geoRed {
  width: 300px !important;
  height: 300px !important;
  border-radius: 50% !important;
  background-color: rgba(
    91,
    119,
    163,
    0.5
  ) !important; /* Adjust transparency here */
  /* Adjust transparency here */
  position: absolute !important;
  top: 32% !important;
  left: 8% !important;
}
.geoBlue {
  width: 630px !important;
  height: 490px !important;
  background-color: rgba(168, 115, 115, 0.9) !important;
  position: absolute !important;
  top: 9% !important;
  right: 3.2% !important;
}
.geoAll {
  width: 91% !important;
  height: 550px !important;
  border-radius: 0% !important;
  background-color: rgba(
    123,
    128,
    134,
    0.5
  ) !important; /* Adjust transparency here */
  position: absolute !important;
  top: 5% !important;
  left: 6% !important;
}

.Selectdropstyle-noborder {
  border-radius: 0px !important;
  width: 100% !important;
  background-color: #f7f8fd !important;
  color: #808080 !important;
  font-size: 13px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  border: 1px solid #dddddd !important;
}

.Selectdropstyle-noborder .MuiOutlinedInput-root .MuiInputBase-formControl {
  border-radius: 0px !important;
}

.Selectdropstyle-noborder .MuiSelect-select {
  padding: 2px 7px !important;
}

.Selectdropstyle-noborder .MuiSelect-nativeInput .MuiSvgIcon-root {
  color: #5a5a5a !important;
}

.Selectdropstyle-noborder .MuiSvgIcon-root,
.MuiSelect-iconOutlined {
  color: #5a5a5a !important;
}

.Selectdropstyle-noborder .MuiSelect-select {
  background-color: #f7f8fd !important;
}
.MainPageFormControl {
  width: 100% !important;
  border-radius: 6px !important;
  border: 1px solid #dddddd !important;
}

.applydisablebtn {
  position: relative;
  background: linear-gradient(
    93.22deg,
    #d9d9d9 -4.65%,
    #a6a6a6 53.05%,
    #7f7f7f 111.04%
  ) !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  border-radius: 6px !important;
  width: 74% !important;
  font-size: 16px !important;
  padding: 2px 0px !important;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  border: none;
  justify-items: center;
}
.inputstyle {
  background-color: #f7f8fd !important;
  width: 100% !important;
  padding: 1px 10px !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  color: black !important;
  margin-top: 10px !important;
  border: 1px solid #dddddd !important;
}
.Selectmenustyle {
  font-family: "Oswald", sans-serif !important;
  width: 100% !important;
  font-size: 13px !important;
  color: #484848 !important;
  font-weight: 500 !important;
}
.Selectdropstyle {
  width: 100% !important;
  background-color: #f7f8fd !important;
  color: #484848 !important;
  font-size: 13px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  border-radius: 6px !important;
}

.Selectdropstyle .MuiOutlinedInput-root .MuiInputBase-formControl {
  border-radius: 8px !important;
}

.Selectdropstyle .MuiSelect-select {
  padding: 4px 7px !important;
}

.Selectdropstyle .MuiSelect-select {
  font-size: 12px !important;
  font-family: "Oswald", sans-serif !important;
  font-weight: 500 !important;
}

.Selectdropstyle .MuiSelect-nativeInput .MuiSvgIcon-root {
  color: #5a5a5a !important;
  border-radius: 6px !important;
}

.Selectdropstyle .MuiSvgIcon-root,
.MuiSelect-iconOutlined {
  color: #5a5a5a !important;
}

.Selectdropstyle .MuiSelect-select {
  background-color: #fff !important;
  border-radius: 6px !important;
}
